
// Colors
$base-blue: #6200EE;
$base-grey: #151515;

.page {
    min-height: 100vh;
    background-image: url("./assets/img/bg-rectangle.png");
    background-repeat: no-repeat;
    background-position: left top;
}

button {
    font-weight: 500 !important;
    font-family: "Mulish", sans-serif !important;
    padding: 10px 24px !important;
    color: #6200EE;
    border: 1px solid #6200EE;
    outline: none !important;
    text-transform: capitalize !important;
    box-shadow: none !important;
}

button.MuiButton-contained {
    color: #fff;
    background-color: #6200EE !important;
}